# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Build files
*.spec 